In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/ml-olympiad-co2-emissions-prediction-challenge/sample_submission.csv
/kaggle/input/ml-olympiad-co2-emissions-prediction-challenge/train.csv
/kaggle/input/ml-olympiad-co2-emissions-prediction-challenge/test.csv

In [2]:
test = pd.read_csv('/kaggle/input/ml-olympiad-co2-emissions-prediction-challenge/test.csv')

In [3]:
test

,Country Name,Indicator,2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
0,Afghanistan,Access to electricity (% of population),97.7,97.7,93.43087769,97.7,97.7
1,Afghanistan,Agricultural land (% of land area),58.12366803,58.12366803,58.27698818,58.27698818,58.74154823
2,Afghanistan,"Annual freshwater withdrawals, total (% of int...",43.01590668,43.01590668,43.01590668,43.01590668,43.01590668
3,Afghanistan,Arable land (% of land area),11.85011422,11.80411818,11.94977232,11.94057311,12.00343437
4,Afghanistan,Forest area (% of land area),1.852781994,1.852781994,1.852781994,1.852781994,1.852781994
...,...,...,...,...,...,...,...
2921,World,Energy use (kg of oil equivalent per capita),..,..,..,..,..
2922,World,Renewable electricity output (% of total elect...,..,..,..,..,..
2923,World,Renewable energy consumption (% of total final...,17.67675038,17.91919181,18.1622255,18.63654208,19.77134448
2924,World,Population growth (annual %),1.169192826,1.148487859,1.107764917,1.062656817,1.013088435
2925,World,GDP per capita (current US$),10215.58544,10754.92975,11297.4524,11338.15032,10902.23731

In [4]:
df = test[test.Indicator == 'Access to electricity (% of population)']

In [5]:
df

,Country Name,Indicator,2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
0,Afghanistan,Access to electricity (% of population),97.7,97.7,93.43087769,97.7,97.7
11,Albania,Access to electricity (% of population),99.89,99.89,100,100,100
22,Algeria,Access to electricity (% of population),99.43369293,99.53002167,99.63774109,99.5,99.71877289
33,American Samoa,Access to electricity (% of population),..,..,..,..,..
44,Andorra,Access to electricity (% of population),100,100,100,100,100
...,...,...,...,...,...,...,...
2871,Sub-Saharan Africa,Access to electricity (% of population),43.73394058,43.67854785,46.34473946,47.13252085,48.48183745
2882,Sub-Saharan Africa (excluding high income),Access to electricity (% of population),43.72879889,43.67347352,46.33998641,47.12791861,48.47743112
2893,Sub-Saharan Africa (IDA & IBRD countries),Access to electricity (% of population),43.73394058,43.67854785,46.34473946,47.13252085,48.48183745
2904,Upper middle income,Access to electricity (% of population),98.98104133,99.14453221,99.15341539,99.23594458,99.17841835
2915,World,Access to electricity (% of population),88.18963049,89.01696149,89.89187221,90.19356224,90.48270308

In [6]:
df.drop(['Indicator'], axis = 1, inplace = True)

/tmp/ipykernel_33/1326170678.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(['Indicator'], axis = 1, inplace = True)

In [7]:
df

,Country Name,2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
0,Afghanistan,97.7,97.7,93.43087769,97.7,97.7
11,Albania,99.89,99.89,100,100,100
22,Algeria,99.43369293,99.53002167,99.63774109,99.5,99.71877289
33,American Samoa,..,..,..,..,..
44,Andorra,100,100,100,100,100
...,...,...,...,...,...,...
2871,Sub-Saharan Africa,43.73394058,43.67854785,46.34473946,47.13252085,48.48183745
2882,Sub-Saharan Africa (excluding high income),43.72879889,43.67347352,46.33998641,47.12791861,48.47743112
2893,Sub-Saharan Africa (IDA & IBRD countries),43.73394058,43.67854785,46.34473946,47.13252085,48.48183745
2904,Upper middle income,98.98104133,99.14453221,99.15341539,99.23594458,99.17841835
2915,World,88.18963049,89.01696149,89.89187221,90.19356224,90.48270308

In [9]:
df2 = pd.melt(df, id_vars = ['Country Name'], var_name = 'Year', value_name = 'Access to electricity (% of population)')

In [10]:
df2

,Country Name,Year,Access to electricity (% of population)
0,Afghanistan,2016 [YR2016],97.7
1,Albania,2016 [YR2016],99.89
2,Algeria,2016 [YR2016],99.43369293
3,American Samoa,2016 [YR2016],..
4,Andorra,2016 [YR2016],100
...,...,...,...
1325,Sub-Saharan Africa,2020 [YR2020],48.48183745
1326,Sub-Saharan Africa (excluding high income),2020 [YR2020],48.47743112
1327,Sub-Saharan Africa (IDA & IBRD countries),2020 [YR2020],48.48183745
1328,Upper middle income,2020 [YR2020],99.17841835
1329,World,2020 [YR2020],90.48270308